<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a> |
      <a href="/blog/blog">Blog Archive</a> |
      <a href="/blog/manifesto">Manifesto</a> |
      <a href="/blog/projects">Projects</a> |
      <a href="/blog/writings">Writings</a> |
      <a href="/blog/tags">Tags</a> |
      <a href="/blog/about">About</a> |
      <a href="/blog/links">Links</a> 

    </nav>

  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; 2025 Atrion</p>
  </footer>
<!--
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer>
    <p>© Atrion Darnay {{ "now" | date: "%Y" }}. All rights reserved.</p>
  </footer>

-->

</body>
</html>